<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>API_BASE_URL</key>
		<string>https://api.staging.jetfire.xyz/jetfire/api</string>
		<key>PROJECT_ID</key>
		<string>delo</string>
		<key>API_KEY</key>
		<string>6-MatZtxA4L9pXHL+4deYkGERQSkoqeyO5IgevXDMfXVxTCB/Aqf1+hLOkFGVz6yB+FHUrtl92P+KR4r/dNsTsgMpq0v8n2jPCUATXqysTthPvVkWtVDkNnLrWqJpweRit7mJK0jAZSrQfBmvA0XDYh7j8t5JAU/nCyiL5SNAzb7Qaiu081HmTeBDw0sbpRlFr
		</string>
		<key>BUNDLE_ID</key>
		<string>ru.doublegis.deloapp</string>
	</dict>
</plist>
